.navbar-brand{
    position: absolute;
    left: 43%;
    max-width: auto;    
   }
   .collapse ul li a{
    color: firebrick;
    font-size: 2rem;
}
#dormir{
    margin-top: 3em;
}
#img{
    width: 9em;
}
#imgs{
    width: 9em;
}
#imgt{
    width: 8.4em;
}
#font{
    font-size: large;
}
a{
    font-size: xx-large;
}
#liste{
    text-align: center;
}
h2{
    font-size: xx-large;
    
}
p, button{
    font-size: x-large;
}
